*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: #051e51ff;
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 600px;
    transform: translate(-50%,-50%);
    background-color: white;
    
    padding: 20px;
    border-radius: 15px;
}
h1{
    color:#051e51ff;
    padding-bottom: 10px;
    border-bottom: 2px solid silver;
}
h3{
    color:#051e51ff;
}
.choice{
    display: block;
    margin-top: 20px;
    background: none;
    outline: none;
    border: 1px solid black;
    color: black;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    text-align: left;
    font-size: 1rem;
    font-weight: 550;
    cursor: pointer;
}
.choice:hover:not(:disabled){
    background-color: black;
    color: white;
    transition-duration: .4s;
}
.choice:disabled{
    cursor:no-drop;
}
.next{
    display: flex;
    justify-content:right;
    margin:40px 0 20px 0;
}
.next button{
    background: #051e51ff;
    color: white;
    padding: 10px;
    width: 20%;
    text-align: center;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    display: none;
}
.microphone {
    display: flex;
    justify-content: center;
    /* margin: 40px 0 20px 0; */
}
.correct{
    background-color: #9aeabc;

}
.incorrect{
    background-color: #ff9393;
}